[submodule "subprojects/pyzstd"]
	path = subprojects/pyzstd
	url = https://github.com/Rogdham/pyzstd.git
[submodule "subprojects/urllib3"]
	path = subprojects/urllib3
	url = https://github.com/urllib3/urllib3.git
[submodule "subprojects/python-xlib"]
	path = subprojects/python-xlib
	url = https://github.com/python-xlib/python-xlib.git
[submodule "subprojects/vdf"]
	path = subprojects/vdf
	url = https://github.com/ValvePython/vdf.git
