name: UMU Zipapp Build
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-latest
          - arch: arm64
            runner: ubuntu-24.04-arm

    runs-on: ${{ matrix.runner }}
    container:
      image: debian:bookworm
      volumes:
        - /proc:/proc
      options: --privileged

    steps:
      - name: Update APT Cache
        run: apt update -y

      - name: Install build dependencies
        run: apt install -y python3-venv python3-all bash make scdoc python3-hatchling python3-installer python3-build cargo git

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git safe directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Extract Version and SHA
        run: |
          VERSION=$(git describe --tags --abbrev=0 || echo "unknown")
          COMMIT_SHA=$(git rev-parse HEAD)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "COMMIT_SHA=$COMMIT_SHA" >> $GITHUB_ENV
          sed -i "s|^VERSION := .*$|VERSION := ${VERSION}|g" Makefile.in

      - name: Configure
        run: ./configure.sh --user-install

      - name: Build
        run: make all

      - name: Package zipapp tarball
        run: |
          mkdir -p results
          cp -rvf builddir/umu-run results/
          cd results
          ln -s umu-run umu_run.py
          mkdir umu
          mv umu-run umu/
          mv umu_run.py umu/
          tar cvf umu-launcher-${{ env.VERSION }}-zipapp.tar umu/

      - name: Upload artifact
        if: ${{ matrix.arch == 'amd64' }}
        uses: actions/upload-artifact@v6
        with:
          name: umu-launcher-${{ env.VERSION }}-zipapp.tar
          path: results/umu-launcher-${{ env.VERSION }}-zipapp.tar
