name: UMU Deb Build - Debian 12
on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string


jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm
      volumes:
        - /proc:/proc
      options: --privileged -it

    steps:
    - name: Update APT Cache
      run: apt update -y

    - name: Install build dependencies
      run: apt install -y dh-make dpkg-dev git

    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Configure Git safe directory
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - name: Extract Version and SHA
      run: |
        VERSION=$(git describe --tags --abbrev=0 || echo "unknown")
        echo $VERSION

        # Get current commit SHA
        COMMIT_SHA=$(git rev-parse HEAD)
        echo $COMMIT_SHA

        # Store values in environment file
        echo "VERSION=$VERSION" >> $GITHUB_ENV
        echo "COMMIT_SHA=$COMMIT_SHA" >> $GITHUB_ENV

        # Always insert latest version into Makefile.in
        sed -i "s|^VERSION := .*$|VERSION := ${VERSION}|g" Makefile.in

    - name: Initialize submodules
      run: git submodule update --init --recursive

    - name: Copy debian packaging folder to the repository root
      run: cp -rvf ./packaging/deb/debian/bookworm ./debian

    - name: Setup dh_make quilt files
      run: |
        sed -re 's|(umu-launcher \()[1-9.]+(-1\).*$)|\1${{ env.VERSION }}\2|' -i ./debian/changelog
        LOGNAME=root dh_make --createorig -y -l -p umu-launcher_${{ env.VERSION }} || true

    - name: Install apt build dependencies
      run: apt build-dep -y ./ 

    - name: Build
      run: dpkg-buildpackage --no-sign 

    - name: Move and rename DEB files to upload artifact path
      run: |
        mkdir -p results
        mv ../python3-umu-launcher_${{ env.VERSION }}-1_amd64.deb \
           results/python3-umu-launcher_${{ env.VERSION }}-1_amd64_debian-12.deb
        mv ../umu-launcher_${{ env.VERSION }}-1_all.deb \
           results/umu-launcher_${{ env.VERSION }}-1_all_debian-12.deb

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: python3-umu-launcher_${{ env.VERSION }}-1_amd64_debian-12.deb
        path: results/python3-umu-launcher_${{ env.VERSION }}-1_amd64_debian-12.deb

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: umu-launcher_${{ env.VERSION }}-1_all_debian-12.deb
        path: results/umu-launcher_${{ env.VERSION }}-1_all_debian-12.deb
