name: UMU RPM Build - Fedora/Nobara

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: fedora:latest

    steps:
    - name: Install Git
      run: dnf install -y git

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Configure Git safe directory
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

    - name: Install build dependencies
      run: dnf install -y rpm-build meson ninja-build cmake g++ gcc-c++ scdoc git python3-devel python3-build python3-installer python3-hatchling python python3

    - name: Build the project
      run: |
        ./configure.sh --prefix=/usr
        make
        mkdir -p ~/rpmbuild/SOURCES
        cp -r . ~/rpmbuild/SOURCES/umu-launcher
        rpmbuild -ba packaging/rpm/umu-launcher.spec

    - name: Fedora-40
      uses: actions/upload-artifact@v4.0.0
      with:
        name: umu-launcher-rpm
        path: ~/rpmbuild/RPMS/noarch/*.rpm
