name: UMU Deb Build - Debian 12
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: debian:bookworm
      volumes:
        - /proc:/proc
      options: --privileged -it

    steps:
    - uses: actions/checkout@v4

    - name: Copy debian packaging folder to the repository root
      run: cp -rvf ./packaging/deb/debian ./debian

    - name: Update APT Cache
      run: apt update -y

    - name: Install build dependencies
      run: apt install -y dh-make dpkg-dev

    - name: Setup dh_make quilt files
      run: LOGNAME=root dh_make --createorig -y -l -p umu-launcher_1.1.3 || true

    - name: Install apt build dependencies
      run: apt build-dep -y ./ 

    - name: Build
      run: dpkg-buildpackage --no-sign 

    - name: Move DEB files to upload artifact path
      run: mkdir -p results && cp -rvf ../*.deb results/

    - name: Upload artifact
      uses: actions/upload-artifact@v4.0.0
      with:
        name: Debian-12
        path: results/
