name: UMU RPM Build - Fedora/Nobara 42

on:
  workflow_call:
    inputs:
      version:
        required: false
        type: string
      shasum:
        required: false
        type: string

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x86_64
            runner: ubuntu-latest
          - arch: aarch64
            runner: ubuntu-24.04-arm

    runs-on: ${{ matrix.runner }}
    container:
      image: fedora:42

    steps:
      - name: Install Git
        run: dnf install -y git

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git safe directory
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Install build dependencies
        run: dnf install -y rpm-build meson ninja-build cmake g++ gcc-c++ scdoc git python3-devel python3-build python3-installer python3-hatchling python python3 cargo python3-hatch-vcs python3-wheel libzstd-devel python3-pyzstd python3-xlib wget

      - name: Extract Version and SHA
        run: |
          VERSION=$(git describe --tags --abbrev=0 || echo "unknown")
          COMMIT_SHA=$(git rev-parse HEAD)
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "COMMIT_SHA=$COMMIT_SHA" >> $GITHUB_ENV

      - name: Build the project
        run: |
          git submodule update --init --recursive
          sed -i "s|^VERSION := .*$|VERSION := ${{ env.VERSION }}|g" Makefile.in

          cd ..
          mkdir -p ~/rpmbuild/SOURCES/
          cp -R umu-launcher umu-launcher-${{ env.VERSION }}/
          tar -cvzf umu-launcher-${{ env.VERSION }}.tar.gz umu-launcher-${{ env.VERSION }}
          mv umu-launcher-${{ env.VERSION }}.tar.gz ~/rpmbuild/SOURCES/
          rm -Rf umu-launcher-${{ env.VERSION }}/
          wget https://github.com/urllib3/urllib3/releases/download/2.3.0/urllib3-2.3.0.tar.gz
          mv urllib3-2.3.0.tar.gz ~/rpmbuild/SOURCES/
          cd umu-launcher/

          sed -i "s|^%global tag .*|%global tag ${{ env.VERSION }}|g" packaging/rpm/umu-launcher.spec
          sed -i "s|^%global commit .*|%global commit ${{ env.COMMIT_SHA }}|g" packaging/rpm/umu-launcher.spec

          rpmbuild -ba packaging/rpm/umu-launcher.spec

          RPMARCH=$(rpm --eval '%{_arch}')
          echo "RPMARCH=$RPMARCH" >> $GITHUB_ENV

          mv ~/rpmbuild/RPMS/${RPMARCH}/umu-launcher-${{ env.VERSION }}*.rpm \
             ~/rpmbuild/RPMS/${RPMARCH}/umu-launcher-${{ env.VERSION }}.fc42.${RPMARCH}.rpm

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: umu-launcher-${{ env.VERSION }}.fc42.${{ env.RPMARCH }}.rpm
          path: ~/rpmbuild/RPMS/${{ env.RPMARCH }}/umu-launcher-${{ env.VERSION }}.fc42.${{ env.RPMARCH }}.rpm
