name: UMU Nix Flake Build
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [published]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-latest
          - arch: arm64
            runner: ubuntu-24.04-arm

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ github.token }}
      - name: Check flake inputs
        uses: DeterminateSystems/flake-checker-action@v12
        with:
          flake-lock-path: packaging/nix/flake.lock
      - name: Check flake outputs
        run: nix flake check ./packaging/nix
      - name: Build
        run: nix build ./packaging/nix
