name: e2e

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          sudo apt-get install meson scdoc python3-hatchling python3-build python3-installer python3-filelock shellcheck bubblewrap cargo flatpak-builder
          python3 -m pip install --upgrade pip
          pip install uv
      - name: Initialize submodules
        run: |
          git submodule update --init --recursive
      - name: Make user install
        run: |
          ./configure.sh --user-install
          make install
      - name: Run shellcheck
        run: |
          shellcheck tests/*.sh
      - name: Setup venv
        run: |
          uv venv --python 3.10
      - name: Test Flatpak
        run: |
          source .venv/bin/activate
          cd packaging/flatpak
          flatpak-builder --force-clean --user --install-deps-from=flathub --repo=umu-repo --install umu-launcher org.openwinecomponents.umu.umu-launcher.yml
          flatpak run --command=sh --devel org.openwinecomponents.umu.umu-launcher
          GAMEID=umu-0 UMU_LOG=1 "$HOME/.local/bin/umu-run" ""
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d"
      - name: Test steamrt install
        run: |
          source .venv/bin/activate
          sh tests/test_install.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d"
      - name: Test steamrt update
        run: |
          source .venv/bin/activate
          sh tests/test_update.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d"
      - name: Test steamrt resume
        run: |
          source .venv/bin/activate
          sh tests/test_resume.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d" "$HOME/.cache/umu"
      - name: Test Proton resume
        run: |
          source .venv/bin/activate
          sh tests/test_proton_resume.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d" "$HOME/.cache/umu"
      - name: Test Filelock
        run: |
          source .venv/bin/activate
          sh tests/test_flock.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d" "$HOME/.cache/umu"
      - name: Test winetricks
        run: |
          source .venv/bin/activate
          sh tests/test_winetricks.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/.local/share/Steam/compatibilitytools.d"
      - name: Test configuration file
        run: |
          uv venv --python 3.11
          source .venv/bin/activate
          sh tests/test_config.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d" "$HOME/.cache/umu"
      - name: Test offline launch
        run: |
          source .venv/bin/activate
          sh tests/test_offline.sh
