name: e2e

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          sudo apt-get update
          echo "deb http://archive.ubuntu.com/ubuntu/ noble noble-updates noble-backports main universe restricted multiverse" | sudo tee -a /etc/apt/sources.list
          sudo apt-get install meson scdoc python3-hatchling python3-build python3-installer python3-filelock shellcheck bubblewrap cargo libzstd1 python3-xxhash python3-cbor2 apparmor apparmor-profiles apparmor-profiles-extra python3-xlib python3-hatch-vcs
          sudo apparmor_parser /usr/share/apparmor/extra-profiles/bwrap-userns-restrict
          python3 -m pip install --upgrade pip
          pip install uv
      - name: Initialize submodules
        run: |
          git submodule update --init --recursive
      - name: Make user install
        run: |
          ./configure.sh --user-install
          make install
      - name: Make system install
        run: |
          ./configure.sh --prefix=/usr
          sudo make install
      - name: Run shellcheck
        run: |
          shellcheck tests/*.sh
      - name: Setup venv
        run: |
          uv venv --python 3.10
      - name: Test delta update
        run: |
          python3 tests/test_delta.py
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d" "$HOME/.cache/umu"
      - name: Test steamrt install
        run: |
          source .venv/bin/activate
          sh tests/test_install.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d"
      - name: Test steamrt install w/ tmpfs
        run: |
          sudo mount -o size=1G -t tmpfs none /tmp
          source .venv/bin/activate
          sh tests/test_install.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d"
          sudo mount -o remount,size=500M /tmp
      - name: Test steamrt install w/ free-threaded Python
        run: |
          uv venv --python 3.14t --clear
          source .venv/bin/activate
          PYTHON_GIL=0 sh tests/test_install.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d"
          uv venv --python 3.10 --clear
      - name: Test obsolete steamrt install
        run: |
          source .venv/bin/activate
          sh tests/test_install_obsolete.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d"
      - name: Test steamrt update
        run: |
          source .venv/bin/activate
          sh tests/test_update.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d"
      - name: Test steamrt resume
        run: |
          source .venv/bin/activate
          sh tests/test_resume.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d" "$HOME/.cache/umu"
      - name: Test Proton resume
        run: |
          source .venv/bin/activate
          sh tests/test_proton_resume.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d" "$HOME/.cache/umu"
      - name: Test Filelock
        run: |
          source .venv/bin/activate
          sh tests/test_flock.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d" "$HOME/.cache/umu"
      - name: Test winetricks
        run: |
          source .venv/bin/activate
          sh tests/test_winetricks.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/.local/share/Steam/compatibilitytools.d"
      - name: Test configuration file
        run: |
          uv venv --python 3.11
          source .venv/bin/activate
          sh tests/test_config.sh
          rm -rf "$HOME/.local/share/umu" "$HOME/Games/umu" "$HOME/.local/share/Steam/compatibilitytools.d" "$HOME/.cache/umu"
      - name: Test offline launch
        run: |
          source .venv/bin/activate
          sh tests/test_offline.sh
