name: make

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Install dependencies
      run: |
        sudo apt-get install meson shellcheck scdoc python3-hatchling python3-build python3-installer python3-filelock cargo python3-hatch-vcs python3-wheel libzstd-dev
    - name: Initialize submodules
      run: |
        git submodule update --init --recursive
    - name: Lint using Shellcheck
      run: |
        shellcheck configure.sh
    - name: Make system package
      run: |
        ./configure.sh --prefix=/usr
        make DESTDIR=dist install
    - name: Make release
      run: |
        # TODO: Figure out release without requiring root
        sudo make release
    - name: Make user install
      run: |
        ./configure.sh --user-install
        # TODO: Figure out user install without requiring root
        sudo make install
