name: ULWGL-launcher workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        # tomllib requires Python 3.11
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
    - name: Lint ulwgl_*.py files with Ruff
      run: |
        pip install ruff
        ruff --output-format github ulwgl_*.py
    - name: Test with unittest
      run: |
        python3 ulwgl_test.py
